<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/login/script.js" type="module"></script>
    <link rel="stylesheet" href="/global.css">
    <title>Login | eCademy</title>
</head>

<body>
    <header>
        <nav class="navigation">
            <!-- Brand -->
            <p>
                e<span>Cademy</span>
            </p>

            <!-- Links -->
            <ul class="links" >
                <li><a href="/login/">Login</a></li>
                <li class="register"><a href="/register/">Register</a></li>
            </ul>

            <!-- Hamburger Menu -->
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>

    <main>
        <div class="left_image">
            <img src="/assets/Login_image.svg" alt="Login">
        </div>
        <div class="right-content">
            <h1>Login</h1>
            <form data-ng-app="loginModule" data-ng-controller="loginController" data-ng-submit="login()" novalidate>
                <div class="wrapper">
                    <label for="email">Email id</label>
                    <input type="text" name="email" id="email" data-ng-model="email" data-ng-change="remove_error('email')">
                    <p class="error">{{email_error}}</p>
                    
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" data-ng-model="password" data-ng-change="remove_error('password')">
                    <p class="error">{{password_error}}</p>
                    
                    <button class="btn" id="login" type="submit">Login</button>
                    <span>Don't have an account? <a href="/register/">Register Now</a></span>
                </div>
            </form>
        </div>
    </main>
</body>
</html>