
// Navigation bar

a {
    color: black;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 0.8rem 4rem;
    box-shadow: 0 1px 4px 0 rgb(94, 94, 94);
    font-size: 1.6rem;

    p {
        font-weight: 500;
        color: #1294F2;
        z-index: 1001;

        span {
            color: #0F296D;
        }
    }

    ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        // color: ;
    }
}

.burger {
    display: none;
    cursor: pointer;
    z-index: 1000;

    div {
        width: 20px;
        height: 3px;
        background-color: black;
        margin: 3px;
        transition: all 0.3s ease;
    }
}

.links[data-state="active"] {
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
}

.links[data-state="inactive"] {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.links {
    font-size: 1rem;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
}

.register {
    border: solid 1px #0F296D;
    padding: 0.5rem;
}

.left_image {
    display: inline-block;
    box-sizing: border-box;
    width: 50vw;
    height: 100vh;
    background: linear-gradient(180deg, #C6C0FF 0%, rgba(255, 255, 255, 0) 100%);;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    position: fixed;
    padding: 3rem 2rem 0;
    img {
        top: 10%;
        width: 80%;
        height: auto;
        object-fit: cover;
    }
}

.right-content {
    display: inline-block;
    width: 50vw;
    position: fixed;
    padding-top: 1rem;
    right: 0;
    height: 100vh;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0 rgb(94, 94, 94);
    border-radius: 0.5rem;
    z-index: 1;
    h1 {
        width: 80%;
        margin: 0 auto;
        font-size: 2.5rem;
        font-weight: 500;
        color: #0F296D;
        margin-bottom: 1rem;
        text-align: start;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        background-color: #fff;
        box-sizing: border-box;
        z-index: 1;
        .wrapper {
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            height: 100%;
            background-color: #fff;
            box-sizing: border-box;
            z-index: 1;

        }
        label {
            font-size: 1rem;
            font-weight: 500;
            color: #0F296D;
            margin-bottom: 0.8rem;
        }
        h1 {
            font-size: 2.5rem;
            font-weight: 500;
            color: #0F296D;
            margin-bottom: 2rem;
        }
        select {
           box-sizing: border-box;
            margin: 0 0 2rem;
            height: 36px;
            width: 50%;
            padding-left: 0.6rem;
            border-radius: 25.200000762939453px;
            color: black !important;
            border: solid 1px #0F296D;
            &:focus-visible {
                outline: none;
                border: solid 1px #0F296D;
                border-radius: 12.200000762939453px 12.200000762939453px 0 0;
            }
            option {
                color: black;
                font-size: 1rem;
                font-weight: 500;
                color: #0F296D;
                margin-bottom: 1rem;
            }
        }
        input {
            box-sizing: border-box;
            margin: 0 0 1rem;
            height: 36px;
            width: 100%;
            border-radius: 25.200000762939453px;
            padding: 1rem;
            border: solid 1px #0F296D;
            &:focus-visible {
                outline: none;
                border: solid 1px #0F296D;
            }
        }
        button {
            font-size: 1rem;
            margin: 0 auto;
            padding: 1rem 2rem;
            border-radius: 25.200000762939453px;
            color: white;
            background-color: #1294F2;
            border: solid 1px white;
        }
        span {
            margin: 0.5rem auto 0;
            width: fit-content;
        }
    }
}

@keyframes naviagtionLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes line1_animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(8px);
    }
    100% {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
}

@keyframes line2_animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes line3_animation {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@media (max-width: 670px) {

    .left_image {
        display: none;
    }
    .right-content {
        width: 100vw;
        padding-top: 2rem;
    }
    .links {
        position: fixed;
        inset: 0 0 0 0%;
        flex-direction: column;
        padding: min(20vh, 5rem) 2em;
        background: rgba(80, 117, 206, 0.5);
        backdrop-filter: blur(1rem);
        align-items: center;
        transform: translateX(100%);
        z-index: 950;

        li {
            opacity: 0;
            color: white;
        }
    }

    .burger {
        display: block;
    }
}